.product-description span {
  margin: 10px;
}
/* product content size */
.product {
  display: block;
  text-align: start;
  margin: 10px;
  border-radius: 10px;

  /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */

  border: 1px solid #888;
  box-shadow: 0 0 7px 0 black;
}

.product img {
  width: 100%;
  /* align-self: start; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product h3 {
  font-size: 14px;
  font-weight: 600;
}
.product h3,
.product span {
  margin-left: 10px;
}

.product p {
  font-size: 14px;
  font-weight: 300;
  font-style: none;
  margin-bottom: auto;
}

.product span {
  display: block;
  font-size: 16px;
}

.product.sold-out {
  color: #888;
}

.product.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}
.price-text {
  display: flex;
}
.card-content-product.discount .price-text-cross {
  text-decoration-line: line-through;
}
.card-content-product.discount .price-discount {
  font-size: 18px;
  color: red;
}

/* The discount display */
.discount-display {
  display: flex;
  justify-content: end;
}
.discount-display-text.discount {
  position: absolute;
  width: 40px;
  height: 38px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: red;
  color: white;
}
.discount-display-text.discount h3 {
  font-size: 12px;
}
.discount-display-text.nodiscount h3 {
  display: none;
}
