.grid-sales-c2 {
  background-color: rgb(111, 250, 250);
  /* opacity: 0.6; */
}

.grid-sales-title-text {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: light;
}
.num-text {
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.sales-link-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30px;
  margin: 10px;
  left: 22%;
}

.grid-commonth-c2 {
  background-color: lightgreen;
}

.grid-pending-c2 {
  background-color: lightskyblue;
}

.grid-qtymonth-c2 {
  background-color: peachpuff;
}
.grid-yesterdaysales-c2 {
  background-color: pink;
}
