.main-content {
  background-color: rgb(224, 237, 250);
  flex: 1;
  padding: 30px;
  height: 1200px;
}
@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}
