/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --clr-primary: #29221d;
  --clr-primar-light: #473b33;
  --clr-secondary: #1e1611;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Poppins", sans-serif;
  /* Transition related variable */
  --transition-default: all 300ms ease-in-out;
}

body {
  font-family: var(--font-family-bai);
}

/* some basic resets */
ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: var(--clr-white);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text colors */
.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

/* text size */
.text-sm {
  font-size: 14px;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* common */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}
.grid-common {
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  /* background: url(./assets/images/backgroundpic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05);
  padding: 24px;
  color: var(--clr-white);
}
.grid-c-title {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 600;
  color: var(--clr-black);
}
.grid-c-title-icon img {
  width: 24px;
}
.data-Number {
  font-weight: 500;
  font-size: 60px;
  color: var(--clr-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--clr-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 60px;
  color: var(--clr-black);
  text-align: center;
  display: flex;
  align-items: bottom;
  justify-content: center;
}

/* #darkmode {
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #292c35;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
} */

/* Dark mode setting */
/* #darkmode .label {
  width: 38px;
  height: 14px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball {
  transform: translateX(24px);
} */

@media screen and( max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}
